/* Material Icons */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* Flex */
.flex-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Gradient text */
.text-gradient {
    background: linear-gradient(45deg,#00b0ff 11%,#B263FE 44%,#f333f5 66%,#fba1da 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

/* Backgrounds */
.bg-pattern:before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 100%;
    height: 600px;
    left: 0;
    top: 0;
    background-image: url(https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/pattern-bg.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-position: center center;
}

/* even-odd displaying */
.flex-md-row-reverse {
    -ms-flex-direction: row-reverse!important;
    flex-direction: row-reverse!important;
}

/* section-default */
.section-default {
    margin-top: 60px;
    margin-bottom: 40px;
}
.section-default .section-title {
    color: #0B2436;
    font-size: 44px;
    padding-left: 28px;
    margin-bottom: 20px;
    font-weight: 900;
}
.section-default .section-text {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 40px;
}

/* section-content */
.section-content p {
    font-size: 18px;
    line-height: 30px;
}

.section-content blockquote {
    font-weight: 900;
    border-left: 4px solid #0073ec;
    color: #1e2740;
    padding: 0 20px
}

.section-content h1, .section-content h2, .section-content h3, .section-content h4, .section-content h5, .section-content h6, .section-content ul, .section-content ol, .section-content dl, .section-content blockquote, .section-content p, .section-content address, .section-content hr, .section-content table, .section-content fieldset, .section-content figure, .section-content pre {
    margin-bottom: 32px;
}

.section-content h1, .section-content h2, .section-content h3, .section-content h4, .section-content h5 {
    font-weight: 900!important;
    line-height: 1.3;
    letter-spacing: -1px;
}

/* `plain-1`, `plain-2`, `plain-3`, `plain-4` */

.plain .item-title {
    font-weight: bold;
}
.plain.boxed .row {
    display: flex;
}
.plain.boxed .item-wrapper {
    padding: 0 10px;
    flex: 1;
    display: flex;
}
.plain.boxed .item {
    box-shadow: 1px 1px 4px 0px grey;
    padding: 10px;
}