.accordion .panel-title {
	position: relative;
	cursor: pointer;
    font-size: 25px;
    color: #000;
    font-weight: 900;
    margin-bottom: 5px;
}
.accordion .panel-title::after {
    content: "\f106";
    color: #333;
    top: -2px;
    right: 0px;
    position: absolute;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.accordion .panel-title.collapsed::after {
	content: "\f107";
}