.article-list-item {
    position: relative;
    padding: 0 60px 36px 60px;
    color: #1B4059;
    display: flex;
}
.article-list-item + .article-list-item {
    margin-top: 73px;
}
.article-list-item .images img {
    margin-top: 30px;
}
.article-list-item .title {
    color: #1B4059;
    font-weight: 900;
    font-size: 32px;
    margin: 60px 0 30px 0;
}
.article-list-item .title a {
    color: #1B4059;
    position: relative;
    display: flex;
}
.article-list-item .title {
    padding-left: 8px;
    z-index: 1;
}
.article-list-item .text {
    margin-bottom: 0;
}
.article-list-item .btn {
    margin-top: 35px;
}
@media screen and (min-width: 767px) {
    .article-list .flex-md-row-reverse .images {
        text-align: right;
    }
}
@media screen and (min-width: 1200px) {
    .article-list .content {
        padding-left: 30px;
    }
    .article-list .flex-md-row-reverse .content {
        padding-right: 30px;
        padding-left: 0;
    }
}