/* Hero */
.hero {
    background: var(--background);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center right;
    padding-top: 170px;
    color: #fff;
}
.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
}
.hero .btn {
    margin-top: 20px;
}
@media screen and (max-width: 767px) {
    .hero {
        min-height: 350px;
        height: auto;
        padding-top: 50px;
    }
    .hero-title {
        font-size: 30px;
    }
}
@media screen and (max-width: 1366px) {
    .hero {
        height: 440px;
    }
}

/* Mini-hero */
.mini-hero {
    background: var(--background);
    background-color: #467eab;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center right;
    padding: 30px 30px;
}
.mini-hero-title {
    font-size: 45px;
    color: #ffffff;
    line-height: inherit;
    font-weight: inherit;
}