a>.link-arrow>svg {
    fill: #0070ba;
    height: 1rem;
    margin-left: .5rem;
    position: relative;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
    width: 1.75rem;
    z-index: 1;
    top: 4px;
}
a:hover>.link-arrow>svg {
    fill: #23527c;
    left: 3px;
}
a>.link-arrow>span {
    background-color: #e4f1fb;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 1.5rem;
    margin-left: -1.4rem;
    padding: .119rem .9rem;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
    width: 1.5rem;
}
.bg-dark {
    color: #fff;
}
.bg-dark a {
    color: #7cd8fe;
}
.bg-dark a:hover {
    color: #fff;
}
.bg-dark a>.link-arrow>svg {
    fill: #7cd8fe;
}
.bg-dark a:hover>.link-arrow>svg {
    fill: #fff;
}
.bg-dark a>.link-arrow>span {
    background-color: rgba(255,255,255,.18824);
}