.link-list ul {
    padding: 0px;
}
.link-list ul li {
    list-style-type: none;
    padding-left: 40px;
    margin-left: -20px;
    background-position: 3px 10px;
    transition: all 0.5s;
    line-height: 26px;
    padding-bottom: 10px;
    width: 45%;
    display: inline-block;
}
.link-list ul li a {
}
.link-list ul li:hover {
    background: url(https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/list-arrow.png);
    background-repeat: no-repeat;
    background-position: 10px 3px;
    background-size: 20px 20px;
}