.section-default.logo-slider .section-text {
    margin-bottom: 20px;
}
.logo-slider .owl-carousel .owl-item img {
    width: auto !important;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
}
.logo-slider .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}
.logo-slider .owl-carousel .owl-nav .owl-prev, .logo-slider .owl-carousel .owl-nav .owl-next {
    background-repeat: no-repeat !important;
    width: 40px !important;
    height: 40px !important;
    text-indent: -9999px;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.logo-slider .owl-carousel .owl-nav button.owl-prev {
    left: -50px !important;
    border: 2px solid #000;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    transform: translateY(-50%) rotate(130deg);
    overflow: hidden;
}
.logo-slider .owl-carousel .owl-nav button.owl-next {
    right: -50px !important;
    border: 2px solid #000;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    transform: translateY(-50%) rotate(-45deg);
    overflow: hidden;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}
.logo-slider .owl-carousel .owl-dots {
    bottom: -70px;
    position: absolute;
}

@media screen and (max-width: 1024px) {
    .logo-slider .owl-carousel .owl-nav .owl-prev {
        left: -30px !important;
    }
    .logo-slider .owl-carousel .owl-nav .owl-next {
        right: -30px !important;
    }
}

@media screen and (max-width: 992px) {
    .logo-slider .owl-carousel .owl-nav .owl-prev {
        left: -20px !important;
    }
    .logo-slider .owl-carousel .owl-nav .owl-next {
        right: -20px !important;
    }
}

@media screen and (max-width: 767px) {
    .logo-slider .owl-carousel .owl-nav .owl-prev {
        left: 0 !important;
    }
    .logo-slider .owl-carousel .owl-nav .owl-next {
        right: 0 !important;
    }
}