.pricing-packages {
    .items {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
    }

    .item {
        padding: 35px;
        width: 434px;
        text-align: left;
        box-shadow: 0px 15px 40px rgba(50, 50, 93, 0.12);
        border-radius: 10px;
        background-color: #fff;
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }

        &.green {
            --primary-color: #00b63e;
            --lighter-color: #00b63e;
            --darker-color: #00b63e;
        }

        &.blue {
            --primary-color: #0070f4;
            --lighter-color: #e5f0fe;
            --darker-color: #004fab;
        }

        &.orange {
            --primary-color: #ffa930;
            --lighter-color: #ffa930;
            --darker-color: #ffa930;
        }
        &.highlighted {
            box-shadow: 1px 1px 10px 3px #0070f4;
            border-radius: 16px;

            .price-value {
                width: auto;
                background: #dfeeff;
                border-radius: 15px;
                padding: 0px 12px;
            }
        }

        h5 {
            padding-bottom: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 18px;

            span {
                font-weight: 600;
                font-size: 16px;
                background: var(--lighter-color);
                border-radius: 32px;
                padding: 4px 8px;
                text-transform: none;
                color: var(--darker-color);
                margin-left: 6px;
            }
        }

        h5, .price-value, .price-user, .wrap-price i {
            color: var(--primary-color);
        }

        .description {
            margin-top: 0;
            color: #335479;
            padding-bottom: 0;
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            margin-right: 46px;
            width: 100%;
        }

        .price-info {
            width: 100%;
            float: left;

            span {
                width: 100%;
                float: left;
            }
        }

        .price-value {
            font-weight: 600;
            letter-spacing: -1px;
            margin-bottom: 8px;
            padding: 0;
            font-size: 50px;
        }

        .price-group {
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;

            .price-shop {
                color: #99a9bc;
            }
        }

        .wrap-price ul {
            float: left;
            width: 100%;
            margin-top: 16px;
            padding: 0;

            li {
                display: flex;
                align-items: baseline;
                line-height: 28px;
            }

            li>i {
                font-size: 16px;
                margin-right: 5px;
            }

            span, i {
                font-size: 14px;
                color: #002146;
                font-weight: 400;
            }

            .muted i, .muted span {
                color: #ccd4dd !important;
            }

            .tag {
                margin-left:8px;
                width: 36px;
                height: 16px;
                background-color: #fee3e3;
                color: #fc1d1c;
                font-weight: 600;
                font-size: 9px;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
            }
        }

        .btn {
            width: 100%;
            padding: 16px;
            border-radius: 32px;
            font-size: 18px;
            font-weight: bold;
            border-color: var(--primary-color);
            background-color: var(--primary-color);
            color: #fff;
            margin-top: 10px;

            &:focus {
                outline: 0;
            }
        }
    }
}