.product-list-item {
    position: relative;
    padding: 0 60px 36px 60px;
    color: #1B4059;
    display: flex;
}
.product-list-item:before {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: 15px;
    background: #F4F8FB;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
.product-list-item + .product-list-item {
    margin-top: 73px;
}
.product-list-item .images img {
    margin-top: 30px;
}
.product-list-item .title {
    color: #1B4059;
    font-weight: 900;
    font-size: 32px;
    margin: 60px 0 30px 0;
}
.product-list-item .title a {
    color: #1B4059;
    position: relative;
    display: flex;
}
.product-list-item .title .title-sm {
    padding-left: 8px;
    z-index: 1;
}
.product-list-item .title .title-lg {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #BDD0DE;
    opacity: 0.3;
    font-size: 77.3px;
}
.product-list-item .text {
    margin-bottom: 0;
}
.product-list-item .btn {
    margin-top: 35px;
}
@media screen and (min-width: 767px) {
    .product-list .flex-md-row-reverse .images {
        text-align: right;
    }
}
@media screen and (min-width: 1200px) {
    .product-list .content {
        padding-left: 30px;
    }
    .product-list .flex-md-row-reverse .content {
        padding-right: 30px;
        padding-left: 0;
    }
}