.ripple-item .above {
  float: left;
  width: 100%;
  position: relative;
  z-index: 999;
}

.ripple-item .text {
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.ripple-item .text strong {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 10px;
  display: block;
}

.ripple-item .image img {
  margin-top: 120px;
}

/* ripple effect */
.ripple_hover {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.ripple_effect {
  display: block;
  position: absolute;
  background-color: #963596;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transition: transform 2.5s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -moz-transition: transform 2.5s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -webkit-transition: transform 2.5s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -o-transition: transform 2.5s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
}

.ripple_effect.ripple_animate {
  transform: scale(4);
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -o-transform: scale(3);
  z-index: 0;
}