.section--whitepaper .inner {
    padding: 20px 50px;
    font-size: 20px;
    color: #000;
}
.section--whitepaper .wp-label {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1.5px;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}
.section--whitepaper .wp-title {
    font-weight: 700;
    line-height: 27px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.section--whitepaper .wp-text {
    font-weight: 300;
    line-height: 25px;
}
.section--whitepaper .pdf {
    border: 2px solid #000000;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-top: 30px;
    display: inline-block;
    -webkit-transition: 0.5s ease-in-out 0s;
    -moz-transition: 0.5s ease-in-out 0s;
    -ms-transition: 0.5s ease-in-out 0s;
    -o-transition: 0.5s ease-in-out 0s;
    transition: 0.5s ease-in-out 0s;
}
.section--whitepaper .pdf:hover, .section--whitepaper .pdf:focus {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}