.white-blocks {
    .box {
        position: relative;
        height: 100%;
        overflow: hidden;
        border: 1px solid #000000;
        padding: 15px;
        margin-bottom: 30px;
        background-color: #fff;
        padding-bottom: 20px;

        .title {
            font-size: 25px;
            line-height: 27px;
            letter-spacing: -0.5px;
            color: #000;
            font-weight: 900;
        }

        .title-border {
            width: 50px;
            height: 5px;
            margin: 10px 0;
            transition: all 0.5s ease 0s;
            background-color: #f5a623;
            display: block;
        }

        &:hover {
            .title-border {
                width: 65px;
            }
        }

        .btn-view-more {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            color: #000;
            margin-top: 10px;
            text-decoration: none;
            left: 0;
            -webkit-transition: all 0.5s ease 0s;
            -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
            position: absolute !important;
            bottom: 0px;
            padding: 15px;
            margin: 0;

            &:hover, &:focus {
                color: #000;
                text-decoration: none;
                left: 10px;
            }
        }
    }
}