.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
    float: none;
}
.about-section, .services-section, .contact-section,  #solution, #what_new, .section__stories, #request_for_services, #how_wecan_help,  #resource_center, #about_us, #innovation_fund, #lets_help_you, #looking_for, #locations, #pattern_bg {
    padding: 0 0 75px 0;
}
#resource_center, .section__stories, #infosys_delivers, #press_releases, #our_experts{
    padding: 75px 0;
}
.title-left {
    font-size: 80px;
    line-height: 83px;
    margin-bottom: 0;
    font-weight: 900;
}
.success-text-box {
    padding: 20px;
    position: relative;
}
.title-box-yellow {
    background-color: #DF9926;
    color: #ffffff;
    padding: 4px 8px;
    display: inline-block;
    position: relative;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}
.title-box-yellow:after {
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 24px solid #DF9926;
    clear: both;
    content: "";
    height: 0;
    position: absolute;
    right: -20px;
    top: 0;
    width: 0;
}
.caption-txt > a, .lng-txt > a {
    font-size: 22px;
    color: #000;
    font-weight: 400;
    line-height: 29.5px;
    letter-spacing: -0.5px;
    margin-bottom: 0;
    z-index: 1;
}
.caption-txt > a:hover, .lng-txt > a:hover {
    color: #007cc3 !important;
}
.caption-txt > a.white-color:hover, .lng-txt > a.white-color:hover {
    color: #ffff !important;
}
.lng-txt {
    line-height: initial;
}
.equal-bg {
    position: relative;
    height: 100%;
    padding: 0px 15px 60px 15px;
    overflow: hidden;
}
.equal-heights {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.equal-heights:before, .equal-heights:after {
    content: normal;
}
.eqheight {
    padding: 15px 0px;
}
.relative {
    position: relative;
}
.relative-off {
    position: inherit;
}
.bg-light-white .tag-postion {
    background-color: #f2f2f2;
}
.white-bg .tag-postion {
    background-color: #ffffff;
}
.tag-postion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    bottom: 0;
    z-index: 10;
    padding: 15px 0;
}
.tag-bg {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 5px;
    z-index: 1;
}
.social-tag-icon img {
    width: 17px;
    height: 17px;
}
.lct-txt {
    font-size: 11px;
    line-height: 21px;
    color: #777;
    font-weight: 400;
    text-transform: uppercase;
}
.get-image-height {
    position: relative;
}
.section__stories .equal-bg, #resource_center .equal-bg {
    overflow: hidden;
}
.section__stories .equal-bg img.get-image-height, #resource_center .equal-bg img.get-image-height, #press_release .equal-bg img.get-image-height, #features .equal-bg img.get-image-height {
    max-width: none;
    overflow: hidden;
    transform: translate3d(-10px, 0px, 0px);
    transition: all 0.35s ease 0s;
    width: calc(100% + 10px);
}
.section__stories .equal-bg:hover img.get-image-height, #resource_center .equal-bg:hover img.get-image-height, #press_release .equal-bg:hover img.get-image-height, #features .equal-bg:hover img.get-image-height {
    transform: translate3d(0px, 0px, 0px);
}
.casestudy-btn {
    border: 1px solid #fff !important;
    color: #fff !important;
    min-width: 190px;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    text-transform: uppercase !important;
    font-weight: 400;
    margin: 0 auto !important;
    display: table !important;
    margin-top: 30px !important;
}
.casestudy-btn:hover {
    color: #fff !important;
    border: 1px solid #000 !important;
}
.minus-top {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

/* Sections */
.para-ovr {
    font-size: 30px;
    line-height: 45px;
    padding-top: 10px;
    font-weight: 300;
}

.insight-btn {
    border: 1px solid #000 !important;
    color: #000 !important;
    min-width: 200px;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    text-transform: uppercase;
    margin: 0 auto !important;
    display: table !important;
    margin-top: 40px !important;
}
.insight-btn:hover {
    color: #fff !important;
}
.h1-heading {
    font-size: 80px;
    line-height: 80px;
    font-weight: 500;
    font-family: "Tungsten A", "Tungsten B", "Khand", sans-serif;
}
.h2-heading {
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    font-size: 46px;
    line-height: 1.2;
}
.para-txt {
    font-size: 40px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 40px;
}
.row-eq-ht {
    overflow: hidden;
}
.col-eq-ht {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

.being-resilient-heading {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 15px;
}

@media screen and (max-width: 1024px) {
    .being-resilient-heading {
        font-size: 30px;
        line-height: 30px;
    }
}

@media screen and (max-width: 767px) {
    .being-resilient-heading {
        font-size: 22px;
        line-height: 22px;
        margin-top: 25px;
        font-weight: 500;
    }
}

@media screen and (max-width: 480px) {
    .being-resilient-heading {
        font-size: 20px;
        line-height: 20px;
    }
}

/*-- What's New --*/
#what_new {
    padding-top: 0 !important;
}
.whatnew-box {
    margin: 0 auto;
    max-width: 290px;
    width: 100%;
    min-height: 500px;
    padding: 30px;
    position: relative;
    background: #BEE3FF url(https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/line-pattern-bg.png);
}
#slider_list_carousel .owl-nav .owl-prev, #slider_list_carousel .owl-nav .owl-next {
    background-repeat: no-repeat !important;
    width: 32px !important;
    height: 32px !important;
    top: 200px !important;
    text-indent: -9999px;
    position: absolute !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#slider_list_carousel .owl-nav .owl-prev {
    background-image: url(https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/arrow-left.png);
    left: -50px !important;
}
#slider_list_carousel .owl-nav .owl-next {
    background-image: url(https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/arrow-right.png);
    right: -50px !important;
}
.title-box {
    background-color: #000;
    color: #ffffff;
    padding: 8px;
    display: inline-block;
    position: relative;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}
.title-box:after {
    content: '';
    position: absolute;
    right: -19px;
    top: 0px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 19px solid transparent;
    border-top: 32px solid #000;
    clear: both;
}
.slider-title {
    font-size: 30px;
    color: #000000;
    text-align: left;
    margin-top: 30px;
    font-weight: 900;
    line-height: 30px;
}
.client-name {
    font-size: 18px;
    color: #3F3F3F;
    text-align: left;
    font-weight: 600;
}
.slider-date {
    font-size: 16px;
    color: #000;
    text-align: left;
    font-weight: 400;
}

.whats-btn {
    border: 1px solid #000 !important;
    color: #000 !important;
    min-width: 190px !important;
    padding-bottom: 12px !important;
    padding-top: 12px !important;
    text-transform: uppercase !important;
    font-weight: 900 !important;
    margin: 0 auto !important;
    text-align: center !important;
    display: table !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 28px !important;
}
.whats-btn:hover {
    color: #fff !important;
}

/* News */
.slider-btn {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 900;
    width: 200px;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 10px 20px;
    background-color: transparent;
    display: block;
    z-index: 1;
    border: 1px solid #000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.slider-btn:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
    z-index: -1;
}
.slider-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #ffffff;
}
.slider-btn:hover:before {
    width: 100%;
}
.slider-btn:hover {
    color: #fff !important;
}
