body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #1B4059;
    padding: 0;
    margin: 0 auto;
}
img {
    max-width: 100%;
}

/* Header */
header .mt45 {
    margin-top: 35px;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin: 0;
}
a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: 0;
}
a:hover {
    text-decoration: none;
}
.block {
    display: block;
}


/* Images */
img[src$='#wide'] {
    display: block;
    width: 100vw;
    max-width: none;
}
.post img[src$='#wide'] {
    margin-left: -67px;
}

/* Swiper */
.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    box-shadow: 0 0 0 2px white inset;
    background: rgba(255, 255, 255, 0.3);
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: #fff;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 16px;
}
.slider .h2-heading {
  font-size: 50px;
}

/*--------------------------------------------------------------
# Header Menu - Desktop
--------------------------------------------------------------*/
.listmenu {
    position: relative;
    width: 100%;
    padding: 0;
    z-index: 2;
}
.hero-list {
    position: absolute;
    width: 100%;
    margin-top: 125px;
}
.hero-list1 {
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 0;
    /*padding: 17px 0;*/
    padding: 8px 0px;
    position: fixed;
    width: 69%;
}
.hero-list1 > nav > ol.rmv-breadcrum > li, .hero-list1 > nav > ol.rmv-breadcrum > li > a {
    color: #000000;
    font-size: 16px;
}
.hero-list1 > nav > ol.rmv-breadcrum > li.open > a {
    color: #f6a623;
}
.hero-list > nav > ol > li.open > ul.dropdown-menu {
    width: auto;
    left: auto;
}

.sticky-icons > li > a > img.share-icon {
    width: 17px;
    height: 45px;
    margin-right: 20px;
    display: block;
    padding: 14px 0;
}
.sticky-icons > li > a.small {
    font-weight: 600;
}
.small img.arrow-right-header {
    position: relative;
    left: 0px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.small:hover img.arrow-right-header {
    left: 5px;
}
.arrow-right-header {
    margin-left: 10px;
    width: 17px;
    height: 17px;
}
.hidden-list {
    display: none !important;
}
.visible-list {
    display: block !important;
}
.visible1024-cross {
    display: none;
}
.hero-list1 > .visible-list {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .listmenu {
        position: relative;
        width: 100%;
        padding: 0;
        z-index: 2;
    }

    .hero-list {
        position: absolute;
        width: 100%;
        margin-top: 125px;
    }
    .hero-list1 {
        margin-left: 10%;
        margin-right: 20%;
        margin-top: 0;
        /*padding: 17px 0;*/
        padding: 8px 0px;
        position: fixed;
        width: 70%;
    }
    .hero-list1 > nav > ol.rmv-breadcrum > li, .hero-list1 > nav > ol.rmv-breadcrum > li > a {
        color: #000000;
        font-size: 16px;
    }

    .hero-list1 .dropdown-menu {
        margin-top: -37px;
    }
    .hero-list1 > nav > ol.rmv-breadcrum > li.open > a {
        color: #f6a623;
    }
    .hero-list > nav > ol > li.open > ul.dropdown-menu {
        width: auto;
        left: auto;
    }

    .hero-list > .strip-head {
        display: none !important;
    }
    .sticky-icons > li > a > img.share-icon {
        max-width: 17px;
        height: 55px;
        margin-right: 20px;
        display: block;
        padding: 20px 0;
    }
    .sticky-icons > li > a.small {
        font-weight: 600;
    }
    .small img.arrow-right-header {
        position: relative;
        left: 0px;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .small:hover img.arrow-right-header {
        left: 5px;
    }
    .arrow-right-header {
        margin-left: 10px;
        max-width: 17px;
    }
    .hidden-list {
        display: none !important;
    }
    .visible-list {
        display: block !important;
    }
    .visible1024-cross {
        display: block;
    }
    .hero-list1 > .visible-list {
        margin: 0;
    }
    .pos-right {
        margin-right: 100px;
    }
}

/* Mobile (Landscape) ----------- */
@media screen and (max-width: 767px) {
    .listmenu {
        position: relative;
        width: 100%;
        padding: 0;
        z-index: 2;
    }
    .hero-list {
        position: absolute;
        width: 100%;
        margin-top: 125px;
    }
    .hero-list1 {
        margin-top: 0;
        /*padding: 17px 0;*/
        padding: 8px 0px;
        position: fixed;
        width: auto;
        margin-left: 75%;
        margin-right: 0%;
    }
    .hero-list1 > nav > ol.rmv-breadcrum > li, .hero-list1 > nav > ol.rmv-breadcrum > li > a {
        color: #000000;
        font-size: 16px;
    }
    .hero-list1 .dropdown-menu {
        margin-top: -37px;
    }
    .hero-list1 > nav > ol.rmv-breadcrum > li.open > a {
        color: #DF9926;
    }
    .hero-list > nav > ol > li.open > ul.dropdown-menu {
        width: 100%;
        left: auto;
    }

    .hero-list > .strip-head {
        display: none !important;
    }
    li.trigger-share {
        background-color: #FFFFFF;
        margin-right: 15px;
        position: relative;
        top: 3px;
        left: 5px;
    }
    .sticky-icons > li > a > img.share-icon {
        max-width: 17px;
        margin-right: 20px;
        display: block;
        padding: 18px 0;
    }
    .sticky-icons > li > a.small {
        font-weight: 600;
    }
    .small img.arrow-right-header {
        position: relative;
        left: 0px;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .small:hover img.arrow-right-header {
        left: 5px;
    }
    .arrow-right-header {
        margin-left: 10px;
        max-width: 17px;
    }
    .hidden-list {
        display: none !important;
    }
    .visible-list {
        display: block !important;
    }

    .hero-list1 > .visible-list {
        margin: 0;
    }
    .pos-right {
        margin-right: 100px;
    }
}

/*--------------------------------------------------------------
# Footer - Desktop
--------------------------------------------------------------*/

.skip-main-cnt,
.skip-footer {
    background: #DF9926;
    height: auto;
    left: 0%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    color: #ffffff;
    z-index: 9999;
    outline: 0 !important;
}

.skip-main-cnt:focus,
.skip-footer:focus {
    transform: translateY(0%);
    color: #ffffff;
}

footer {
    background-color: #403c38;
    color: #fff;
    border-top: 1px solid #d8d8d8;
}
footer .footer-txt > li:first-child {
    margin-top: 20px;
}
footer .footer-txt > li {
    margin-bottom: 10px;
}
footer .footer-txt > li > a {
    color: #ccc;
    font-size: 16px;
    text-decoration: none;
}
footer .copyright {
    color: #ccc;
}
.ftr-head {
    font-size: 22px;
    font-weight: 900;
    font-family: "Myriad Pro Bold", sans-serif;
}
.country {
    position: relative;
    z-index: 1;
}
.up-arrow, .down-arrow {
    position: relative;
    margin-left: 100px;
    z-index: -1;
}
.up-arrow:before, .down-arrow:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #333;
    font-size: 18px;
    /*position: absolute;*/
    top: 2px;
    left: 0;
}
.up-arrow:before {
    content: "\f0d8";
}
.down-arrow:before {
    content: "\f0d7";
}
@media screen and (max-width: 1024px){
    .ftr-head {
        color: #000000;
        font-size: 22px;
        font-weight: 900;
        margin: 0;
    }
}

/*--------------------------------------------------------------
# Footer - Mobile (Landscape 767px)
--------------------------------------------------------------*/
@media screen and (max-width: 767px) {
    footer {
        background: #F8F8F8;
        color: #333;
        /*padding: 50px 0;*/
        border-top: 5px solid #d8d8d8;
    }
    footer ul{
        margin-bottom: 10px;
    }
    ul.footer-txt > li:first-child {
        margin-top: 20px;
    }
    ul.footer-txt > li {
        margin-bottom: 10px;
    }
    ul.footer-txt > li > a {
        color: #3F3F3F;
        font-size: 16px;
    }
    .ftr-head {
        color: #000000;
        font-size: 22px;
        font-weight: 900;
        margin: 0;
    }
    .up-arrow, .down-arrow {
        position: relative;
        margin-left: 100px;
    }
    .up-arrow:before, .down-arrow:before {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        color: #333;
        font-size: 18px;
        /*position: absolute;*/
        top: 2px;
        left: 0;
    }
    .up-arrow:before {
        content: "\f0d8";
    }
    .down-arrow:before {
        content: "\f0d7";
    }
}

/*teaser css start*/
.animate {
    transform: translate3d(-2306px, 0px, 0px);
    transition: all 0s ease 0s;
    width: 8457px;
}

.topicIndicator {
    background-color: #000;
    color: #ffffff;
    padding: 8px;
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
.topicIndicator:after {
    content: '';
    position: absolute;
    right: -20px;
    top: 0px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
    border-top: 36px solid #000;
    clear: both;
}

.caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0px, -30%) !important;
    -moz-transform: translate(0px, -30%) !important;
    -ms-transform: translate(0px, -30%) !important;
    -o-transform: translate(0px, -30%) !important;
    transform: translate(0px, -30%) !important;
    width: auto;
}
.slide-image {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}
.repeated-css {
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 1024px){
    .slider, #hero_slider {
        height: 600px;
    }
    .repeated-css {
        height: 600px;
    }
    .caption {
        top: 50%;
        -webkit-transform: translate(0px, -50%) !important;
        -moz-transform: translate(0px, -50%) !important;
        -ms-transform: translate(0px, -50%) !important;
        -o-transform: translate(0px, -50%) !important;
        transform: translate(0px, -50%) !important;
    }
}


@media screen and (max-width: 767px){
       #hero_slider .caption a {
        margin-top: 0;
        padding: 5px;
    }

    .slider-overlay {
        background-color: rgba(0, 0, 0, 0.25);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .slide-image {
        right: 0;
    }

    .portal-mob {
        bottom: 60px;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
    .slider, #hero_slider {
        height: 480px;
    }
    .repeated-css {
        height: 480px;
    }

   .slider-overlay-amethyst {
        background-color: rgba(55, 34, 97, 0.45);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

}

/* Section - Overview */
#overview{
    padding: 75px 0 ;
    position: relative;
}

/*--------------------------------------------------------------
# Insights - Desktop
--------------------------------------------------------------*/
.bg-color1 {
    overflow: hidden;
}
.bg-color1 > img.img-responsive {
    max-width: none;
    transform: translate3d(-40px, 0px, 0px);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: calc(100% + 40px);
}
.bg-color1:hover > img.img-responsive {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
img.play-icon {
    width: 80px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.txt-reseach {
    bottom: 0;
    padding: 0 25px 25px;
    position: absolute;
    width: 100%;
    z-index: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.txt-reseach::before {
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 40%) no-repeat scroll 0 0;
    content: "";
    height: 250px;
    left: 0;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: -1;
}
.bg-color1:hover .txt-reseach {
    bottom: 20px;
}
.insight-title {
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #B8B8B8;
    font-weight: 600;
    text-transform: uppercase;
}
.bg-blog, .bg-pressrelease, .bg-article, .bg-whitepaper, .bg-blog-segment, .bg-last {
    position: relative;
}
.bg-blog {
    background-color: #f8f8f8;
}
.bg-pressrelease {
    background-color: #963596;
}
.bg-article {
    background-color: #f16c51;
}
.bg-blog-segment {
    background-color: #0f9ffa;
}
.bg-whitepaper {
    overflow: hidden;
}
.bg-whitepaper .txt-section {
    background-color: rgba(6, 24, 56, 0.5);/* Fallback*/
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(6, 24, 56, 0.5) 0%, rgba(255, 255, 255, 0.2) 50%);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.bg-whitepaper > img.img-whitepaper {
    max-width: none;
    transform: translate3d(-40px, 0px, 0px);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: calc(100% + 40px);
}
.bg-whitepaper:hover > img.img-whitepaper {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.txt-whitepaper {
    /*padding-top: 331px;*/
    padding-top: 290px;
}
.bg-last {
    background-color: #DF9926;
}
.img-whitepaper {
    top: 0px;
    position: absolute;
    transition: all 0.5s ease 0s;
}
.txt-section {
    padding: 20px;
    position: relative;
}
.box-title {
    margin: 0px;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #bcb9b9;
    font-weight: 600;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.box-text {
    margin: 0px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    padding: 15px 0;
}
.bg-pressrelease:hover p.more, .bg-blog:hover p.more, .bg-article:hover p.more, .bg-last:hover p.more, .bg-blog-segment:hover p.more, .bg-twittercyan:hover p.more, .bg-darkblue:hover p.more, .bg-orange:hover p.more, .bg-light-grey:hover p.more, .bg-sapphire-medium:hover p.more {
    left: 30px;
}
.bg-whitepaper:hover p.white-download {
    left: 10px;
}
.more {
    position: absolute;
    top: 330px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
    left: 20px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.readmore-top {
    top: 346px !important;
}
.insight-email {
    margin-top: 0px;
    font-size: 28px;
    color: #000000;
    line-height: 32px;
    font-weight: 900;
}
.email-add-bg {
    margin-left: 15px;
    margin-right: 15px;
}
.email-add {
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid #ffffff;
    color: #ffffff !important;
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: 1px;
    opacity: 0.7 !important;
    outline: none;
}
.getsmart {
    font-size: 14px;
    color: #000000;
    font-weight: 900;
    text-transform: uppercase;
    padding: 12px 30px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
    background-color: #ffffff;
    outline: none;
    border: none;
}
.email-add-bg input::-webkit-input-placeholder {
 color: #ffffff !important;
}
.email-add-bg input:-moz-placeholder {
 color: #ffffff !important;
}
.email-add-bg input::-moz-placeholder {
 color: #ffffff !important;
}
.email-add-bg input:-ms-input-placeholder {
 color: #ffffff !important;
}
.title-bg {
    margin: 0 auto;
    max-width: 850px;
    width: 100%;
}
.center-title {
    font-size: 80px;
    color: #000;
    text-align: center;
    font-weight: 900;
    line-height: 83px;
    padding-bottom: 10px;
}
.sub-title {
    font-size: 40px;
    color: #3F3F3F;
    font-weight: 300;
    line-height: 45px;
    text-align: center;
}
.gray-bg {
    background-color: #fbfbfb;
}
.violet-bg {
    background-color: #963596;
}
.blue-bg {
    background-color: #372261;
}
/*.yellow-bg {
    background-color: #DF9926;commenting due to offerings page overwritten
}*/
.yellow-bg ul {
    padding: 0;
}
.yellow-bg ul > li {
    display: block;
    background-image: url(../../../content/dam/infosys-web/en/global-resource/background-image/right-chevron-black.svg);
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 0 5px;
    margin-bottom: 10px;
}
.height-380 {
    min-height: 390px;
    position: relative;
    padding-bottom: 30px;
}
.padding-bottom-0 {
    padding-bottom: 0px;
}
img.video-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.inst-video-disc {
    width: 75%;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.insight-text {
    margin: 0px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    line-height: 30px;
}
.corner-shape {
    width: 100%;
    height: auto;
    border-bottom: 170px solid #00B28F;
    border-right: 80px solid transparent;
    position: absolute;
    left: 0;
    bottom: 0;
}
.corner-shape-text {
    position: absolute;
    left: 20px;
    right: 20px;
}
.corner-shape-text p {
    margin: 0px;
}
.whitepaper {
    font-size: 18px;
    color: #ffffff;
    line-height: 24px;
    padding-top: 14px;/*width: 180px;*/
}
.white-download {
    font-size: 15px;
    color: #000000;
    font-weight: 900;
    text-transform: uppercase;
    /* padding-top: 48px; */
    position: absolute;
    left: 0;
    top: 135px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.getinsight {
    width: 70%;
    font-size: 12px;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 15px;
}
.see-more {
    text-align: center;
    margin-top: 50px;
}
.see-more a {
    font-size: 14px;
    color: #3F3F3F;
    text-transform: uppercase;
    padding: 20px 50px;
    display: inline-flex;
    border: 1px solid #7E7E7E;
}
.insight-btn {
    border: 1px solid #000 !important;
    color: #000 !important;
    min-width: 200px;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    text-transform: uppercase;
    margin: 0 auto !important;
    display: table !important;
    margin-top: 40px !important;
}
.insight-btn:hover {
    color: #fff !important;
}

/*--------------------------------------------------------------
# (1280px)
--------------------------------------------------------------*/
@media(max-width: 1280px){
    .corner-shape {
        border-right: inherit;
        border-bottom: 170px solid #00B28F;
    }
    .white-download {
        padding-top: 10px;
        position: relative;
        top: 0;
    }
}
/*--------------------------------------------------------------
# Tablet (Landscape 1024px)
--------------------------------------------------------------*/
@media(max-width: 1024px){
.bg-color1 > img.img-responsive {
    width: calc(100% + 86px);
}
.bg-color1:hover > img.img-responsive, .bg-whitepaper:hover > img.img-whitepaper {
    transform: translate3d(-40px, 0px, 0px);
}
.bg-color1:hover .txt-reseach {
    bottom: 0px;
}
.bg-whitepaper > img.img-whitepaper {
    width: calc(100% + 50px);
}
img.play-icon {
    width: 80px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.txt-reseach::before {
    top: unset;
}
.offering-title {
    font-size: 35px;
    color: #000000;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -1px;
}
.bg-whitepaper {
    position: relative;
}
.txt-whitepaper {
    padding-top: 380px;
}
.box-title {
    margin: 0px;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #bcb9b9;
    font-weight: 600;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.box-text {
    margin: 0px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    padding: 15px 0;
}
.bg-pressrelease:hover p.more, .bg-blog:hover p.more, .bg-article:hover p.more, .bg-last:hover p.more, bg-blog-segment:hover p.more, .bg-twittercyan:hover p.more, .bg-darkblue:hover p.more, .bg-orange:hover p.more, .bg-light-grey:hover p.more {
    left: 0px;
}
.bg-whitepaper:hover p.white-download {
    left: 0px;
}
.more, .readmore-top {
    position: relative;
    top: 0 !important;
    left: 0;
}
.whats-btn {
    padding: 6px 12px;
}
#slider_list_carousel .owl-dots {
    bottom: -40px !important;
}
.offerings-row {
    margin-left: 0;
    padding-left: 25px;
    padding-right: 0px;
}
.offerings-hover, .yellow-dot2 {
    opacity: 1;
}
ul.offering-list li {
    background: url(../../../content/dam/infosys-web/en/global-resource/background-image/list-arrow.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
.border-left {
    display: none;
}
.submit-btn {
    padding: 10px 50px;
}
.para-txt {
        font-size: 40px;
        font-weight: 300;
        margin-top: 10px;
        line-height: 40px;
}
}
/*--------------------------------------------------------------
# Mobile (Potrait 992px)
--------------------------------------------------------------*/
@media screen and (max-width: 992px){
.corner-shape {
    border-bottom: 160px solid #00B28F;
}
.bg-blog {
    box-shadow: 0px 0px 2px #888;
}
.para-txt {
    font-size: 30px;
    line-height: 33px;
}
}
/*--------------------------------------------------------------
# Mobile (Landscape 767px)
--------------------------------------------------------------*/
@media screen and (max-width: 767px){
.insight-text {
    font-size: 20px;
}
#insights [class*="col-md"] {
    margin-bottom: 25px;
}

.bg-color1 > img.img-responsive {
    width: calc(100% + 40px);
}
img.play-icon {
    width: 80px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.txt-reseach {
    bottom: 0;
    padding: 0 15px 15px;
    position: absolute;
    width: 100%;
}
.img-whitepaper {
    top: 0px;
    position: absolute;
}
.box-title {
    margin: 0px;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #bcb9b9;
    font-weight: 600;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.box-text {
    margin: 0px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    padding: 15px 0;
}
.corner-shape {
    border-bottom: 150px solid #00B28F;
}
.para-txt {
        font-size: 20px;
        line-height: 25px;
        font-weight: 300;
}
}

/*-------------------------------- Insights css end------------------------------ */

/* Section - quotes */

.user-profile-slider .w-40p {
    width: 40% !important;
}
.user-profile-slider .w-50p, .user-profile-slider .kao-logo {
    width: 50% !important;
}
.user-profile-slider .w-75p {
    width: 75% !important;
}
.user-profile-slider .w-100p {
    width: 100% !important;
}
.slider-overlay-black {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#counter {
    position: absolute;
    bottom: 35px;
    left: 50%;
    font-size: 20px;
    z-index: 9;
    transform: translateX(-50%);
    font-weight: 500;
    color: #FFFFFF;
}
.quote-para {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 300;
    text-align: justify;
}
.v-align {
    position: relative;
    height: 50vh;
}
.company-logo {
    width: auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.user-profile-slider .caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0px, -50%) !important;
    -moz-transform: translate(0px, -50%) !important;
    -ms-transform: translate(0px, -50%) !important;
    -o-transform: translate(0px, -50%) !important;
    transform: translate(0px, -50%) !important;
    width: auto;
    color: #FFFFFF;
}
.user-profile-slider {
    height: 100vh;
    position: relative;
}
.user-profile-slider .owl-prev, .user-profile-slider .owl-next {
    background-repeat: no-repeat;
    width: 40px;
    height: 38px;
    text-indent: -9999px;
    position: absolute !important;
    bottom: 30px !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    top: unset !important;
    transition: all 0.3s ease-in-out;
    margin: 0 !important;
    padding: 0 !important;
}
.user-profile-slider .owl-prev {
    background-image: url(/content/dam/infosys-web/en/global-resource/18/quote-arrow-left.png);
    left: 50%;
    transform: translateX(-150%);
}
.user-profile-slider .owl-next {
    background-image: url(/content/dam/infosys-web/en/global-resource/18/quote-arrow-right.png);
    right: 50%;
    transform: translate(160%, -6%);
}

@media screen and (max-width: 1024px) {
    .user-profile-slider {
        height: 600px;
    }
}

@media screen and (max-width: 992px) {
    .v-align {
        height: 15vh;
    }
    .user-profile-slider .w-40p, .user-profile-slider .w-50p, .user-profile-slider .w-75p, .user-profile-slider .w-100p {
        width: auto !important;
    }
}

@media screen and (max-width: 767px) {
    .w-100p {
        width: 100% !important;
    }
    .quote-para {
        font-size: 18px;
    }
    .v-align {
        height: 20vh;
    }
    #counter {
        bottom: -180px;
    }
    .user-profile-slider, .user-profile-slider .repeated-css {
        height: 700px;
    }
    .user-profile-slider .caption {
        /*color: #fff;*/
        text-align: center;
    }
    /*.user-profile-slider .caption img {
        width: auto !important;
        height: auto !important;
    }*/
    .user-profile-slider .caption .btn-shutter {
        color: #fff;
        border: 1px solid #fff;
    }
}

/* Links */
@media screen and (max-width: 1024px) {
    ul.offering-list li {
        background: url(../../../content/dam/infosys-web/en/global-resource/background-image/list-arrow.png);
        background-repeat: no-repeat;
        background-position: 10px 10px;
    }
}
ul.offering-list {
    padding: 0px;
}

ul.offering-list li {
    list-style-type: none;
    font-size: 18px;
    padding-left: 40px;
    margin-left: -20px;
    background-position: 3px 10px;
    transition: all 0.5s;
    line-height: 26px;
    padding-bottom: 10px;
    width: 45%;
    display: inline-block;
}

ul.offering-list li:hover {
    background: url(https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/list-arrow.png);
    background-repeat: no-repeat;
    background-position: 10px 3px;
    background-size: 20px 20px;
}
ul.offering-list li img {
    margin-right: 5px;
    max-width: 30px;
}
ul.offering-list li:hover span {
    left: 5px;
}
ul.offering-list li span {
    position: relative;
    left: 0;
    transition: all 0.3s ease 0s;
}
ul.offering-list li a {
    font-size: 20px;
    color: #000;
    font-weight: 400;/*text-transform: capitalize;*/
    line-height: 25px;
}

/* Video section */
.show-on-image {
    cursor: pointer;
}
.show-on-image:hover .video-play-icon > img {
    transform: rotate(360deg);
}
.show-on-video {
    display: none;
}

/* Left arrow */
.left-arrow img.arrow-move {
    position: relative;
    left: 0px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.left-arrow:hover img.arrow-move {
    left: 5px;
}
