.flx {
    display: flex;
    flex-wrap: wrap;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.blog-card {
    box-shadow: 0 10px 35px rgba(0, 0, 0, .05);
    border-radius: 18px;
    overflow: hidden;
    border: 0;
    margin-top: 30px;
    height: calc(100% - 30px);
}
.blog-card .card-body {
    padding: 10px 30px 10px;
    color: #666;
}
.blog-card .card-title {
    margin-bottom: .75rem;
}
.blog-card .card-title a {
    color: #222;
    line-height: 34px;
    display: block;
    transition: .2s;
    text-decoration: underline;
    text-decoration-color: transparent;
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
}
.blog-card .card-title a:hover {
    color: #333;
    text-decoration-color: #444;
    -webkit-text-decoration-color: #444444;
    -moz-text-decoration-color: #444444;
}
.pagination {
  >li {
    display: inline-block;
  }
  .page-link {
    padding: 0;
    margin-left: 0;
    border: 0;
    height: 46px;
    width: 46px;
    line-height: 46px;
    text-align: center;
    font-weight: 600;
    border-radius: 6px !important;
    color: $primary-color;
    margin: 0 2px;

    &.arrow {
      font-size: 22px;
      background-color: transparent;
    }

    &.active,
    &:focus,
    &:hover {
      box-shadow: none;
      color: $white;
      background-color: $primary-color;
    }
  }
}