/* Orange button */
.btn-orange {
    height: 53px;
    line-height: 53px;
    padding: 0 40px;
    border: 1px solid;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 1rem;
}
.btn-orange {
    background-image: linear-gradient(155.03deg, #FFA748 7.9%, #F07D58 100%);
    box-shadow: 0px 6px 20px rgba(248, 147, 79, 0.4);
    border-color: transparent;
    color: #fff;
}
.btn-orange:hover, .btn-orange:focus, .btn-orange.active {
    background-image: none;
    color: #FF8E16;
    box-shadow: none;
}
.btn-orange:hover,.btn-orange:focus, .btn-orange.active, .btn-orange:active, .btn-orange:active:focus {
    background: linear-gradient(155.03deg, #EB9334 7.9%, #BE4B26 100%);
    box-shadow: 0px 6px 20px #f8934f;
    color: #fff;
}

/* Shutter button */
.btn-shutter {
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 12px 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    letter-spacing: 1.5px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
}
.btn-shutter:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
    z-index: -1;
}
.btn-shutter:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #ffffff;
}
.btn-shutter:hover:before {
    width: 100%;
}
.btn-shutter-white:before {
    background-color: #fff !important;
}
.btn-shutter-white:hover {
    border: 1px solid #fff !important;
    color: #000 !important;
}

/* Black shutter button */
.btn-shutter-black {
    color: #000;
    border: 1px solid #000;
    position: relative;
    z-index: 1;
    display: inline-block;
    background-color: #FFFFFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 5px 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    letter-spacing: 1.5px;
    font-weight: 900;
}
.btn-shutter-black:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
    z-index: -1;
}
.btn-shutter-black:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #ffffff;
}
.btn-shutter-black:hover:before {
    width: 100%;
}

/* x */
.btn-light {
    color: #000!important;
    border: 1px solid #000 !important;
}
.btn-light:hover {
    color: #fff!important;
}

/* Flashing button */
.btn-flash {
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 5px 25px;
    margin: 0.5rem 0;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    font-weight: 600;
        animation-duration: 1s;
    animation-fill-mode: both;
}
.btn-flash:hover {
    border: 1px solid #fff;
    background-color: transparent;
    color: #000;
    text-decoration: none;
}
.btn-flash:focus {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}
.btn-flash:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fff;
    z-index: -1;
    transform: translate(-50%,-50%) rotate(45deg);
}
.btn-flash:hover:before {
    height: 1000%;
}