/* Colors */
.white-color {
    color: #ffffff !important;
}
.black-color {
    color: #000000 !important;
}
.light-gray {
    color: #687173 !important;
}
.text-gray {
    color: #666;
}

/* Backgrounds */
.bg-white {
	background-color: #fff !important;
}
.bg-blue {
	background-color: #0f9ffa !important;
}
.bg-black {
	background-color: #000 !important;
}
.bg-egyptian-blue {
	background-color: #213f98 !important;
}
.bg-light-white {
	background-color: #f2f2f2;
}
.bg-light-grey {
	background-color: #f8f8f8;
}
.bg-darkblue {
	background-color: #372261;
}
.bg-purple {
	background-color: #963596;
}
.bg-green {
	background-color: #1995a4;
}
.bg-cyan {
	background-color: #0f9ffa;
}
.bg-twittercyan {
	background-color: #4fb6dc;
}
.bg-orange {
	background-color: #DF9926;
}
.bg-sapphire-dark {
	background-color: #061838;
}
.bg-sapphire-medium {
	background-color: #0F9FFA;
}
.bg-sapphire-light {
	background-color: #92D1FF;
}
.bg-sapphire-less-light {
	background-color: #BEE3FF;
}
.bg-coral-dark {
	background-color: #4C0519;
}
.bg-coral-medium {
	background-color: #F16C51 !important;
}
.bg-coral-light {
	background-color: #FBC2BA;
}
.bg-coral-less-light {
	background-color: #FCDDD6;
}
.bg-topaz-dark {
	background-color: #2F1113 !important;
}
.bg-topaz-medium {
	background-color: #DF9926 !important;
}
.bg-topaz-light {
	background-color: #EAC8A5;
}
.bg-topaz-less-light {
	background-color: #ECE1CE;
}
.bg-jade-dark {
	background-color: #09321D;
}
.bg-jade-medium {
	background-color: #00B28F;
}
.bg-jade-light {
	background-color: #A8D7CD;
}
.bg-jade-less-light {
	background-color: #D8E7DA;
}
.bg-amethyst-dark {
	background-color: #372261;
}
.bg-amethyst-medium {
	background-color: #963596;
}
.bg-amethyst-light {
	background-color: #D0B5D5;
}
.bg-amethyst-less-light {
	background-color: #E6DBE6;
}
.bg-onyx-dark {
	background-color: #3F3F3F;
}
.bg-onyx-medium {
	background-color: #7E7E7E;
}
.bg-onyx-light {
	background-color: #B8B8B8;
}
.bg-onyx-less-light {
	background-color: #DADADA;
}
.bg-pattern {
    position: relative;
}
.bg-pattern:before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 100%;
    height: 600px;
    left: 0;
    top: 0;
    background-image: url(https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/pattern-bg.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-position: center center;
}