.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #ffffff !important;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #fff !important;
    opacity: 0.75;
}
.navbar-default {
    border-color: transparent;
    background-color: transparent;
}
.navbar-brand {
    padding: 5px 15px 0;
}
.navbar {
    margin-bottom: 0;
    min-height: auto;
}
.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    margin: 0 8px;
    font-weight: 400;
    color: #fff;
}

/* When scrolled */
#navbar.scrolled {
    background-color: #122148;
}
#navbar.scrolled .mt45 {
    margin-top: 15px;
}
#navbar.scrolled .navbar-nav > li > a {
    color: #fff;
}
#navbar.scrolled #logo {
    stroke: #fff!important;
}
#navbar.unpinned {
    transform: translateY(calc(-100% - 5px));
}

@media screen and (max-width: 1024px) {
    /*--------------------------------------------------------------
    # Header Menu - Tablet (Landscape 1024px)
    --------------------------------------------------------------*/

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
        background-color: transparent;
        color: #ffffff !important;
    }
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        background-color: transparent;
        color: #fff !important;
        opacity: 0.75;
    }
    .navbar-default {
        border-color: transparent;
        /*-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);*/
        background-color: transparent;
    }
    .navbar-brand {
        padding: 5px 15px 0;
    }
    .navbar {
        margin-bottom: 0;
        min-height: auto;
    }
    .navbar-default .navbar-nav > li > a {
        color: #fff;
        font-size: 16px;
        margin: 0 8px;
        font-weight: 300;
    }
}

@media screen and (max-width: 767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
        background-color: transparent;
        color: #ffffff !important;
    }
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        background-color: transparent;
        color: #fff !important;
        opacity: 0.75;
    }
    .navbar-default {
        border-color: transparent;
        /*-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);*/
        background-color: transparent;
    }
    .navbar-brand {
        padding: 5px 15px 0;
    }
    .navbar {
        margin-bottom: 0;
        min-height: auto;
    }
    .navbar-default .navbar-nav > li > a {
        color: #fff;
        font-size: 16px;
        margin: 0 8px;
        font-weight: 300;
    }
}