$white: #ffffff;
$black: #000000;
$light: #FAFAFA;
$primary-color: #FE6019;

@import 'colors.scss';
@import 'spacing.scss';
@import 'buttons.scss';
@import 'sections/_common.scss';
@import 'sections/logo-slider.scss';
@import 'sections/hero.scss';
@import 'sections/whitepaper.scss';
@import 'sections/accordion.scss';
@import 'sections/image-text.scss';
@import 'sections/product-list.scss';
@import 'sections/feature-list.scss';
@import 'sections/article-list.scss';
@import 'sections/link-list.scss';
@import 'sections/ripple-blocks.scss';
@import 'sections/white-blocks.scss';
@import 'sections/pricing-packages.scss';
@import 'blog.scss';
@import 'custom.scss';
@import 'navbar.scss';