<article class="card blog-card">
  <a href="{{ .RelPermalink }}" title="{{ .Title }}">
    {{ with .Params.image }}
        {{ if fileExists (add `assets/` .) }}
            {{$img:= resources.Get . }}
            {{$img:= $img.Resize "570x "}}
            {{$imgWebp:= $img.Resize "570x webp"}}
            <img class="card-img-top h-auto w-100" src="{{$imgWebp.RelPermalink}}" alt="blog-post">
        {{end}}
    {{end}}
  </a>
  <div class="card-body">
    <h3 class="card-title"><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></h3>
    <p>{{ .Plain | truncate 120 }}</p>
  </div>
</article>
