{{ define "main" }}
<section class="pt150 pb25" style="background: gray">
    <article class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="h2-heading white-color">Blog</div>
            </div>
        </div>
    </article>
</section>
<section class="pt50">
    <article class="container">
        <div class="row justify-content-center flx">
            {{ $paginator := .Paginate (where site.RegularPages "Section" "==" "blog") }}
            {{ range $paginator.Pages }}
            <div class="col-md-6">
                {{ .Render "article" }}
            </div>
            {{ end }}
        </div>
        <div class="row mb20">
            <div class="col-12">
                {{ .Render "pagination" }}
            </div>
        </div>
    </article>
</section>
{{ end }}
