{{ define "main" }}

<section class="pt0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 mb30 p0">
        {{ with .Params.image }}
            {{ if fileExists (add `assets/` .) }}
                {{$img:= resources.Get . }}
                {{$img:= $img.Resize "1020x "}}
                {{$imgWebp:= $img.Resize "1020x webp"}}
                <img class="img-responsive w-100" src="{{$imgWebp.RelPermalink}}" alt="blog-post">
            {{end}}
        {{end}}
      </div>
      <div class="col-md-8 p50 mx-auto">
        <div class="mb30 fadeInDown">
          <h2 class="h2-heading">{{.Title | markdownify}}</h2>
        </div>

        <div class="text-justify text-gray fadeInUp">
          {{.Content}}
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section__stories">
    <article class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h2 class="h2-heading white-color">Recent Articles</h2>
                <p class="para-txt white-color mb50"></p>
            </div>
        </div>
        <div class="row equal-heights">
            {{$data := newScratch}}
            {{$data.Set "delay" 0}}
            {{ $recent := (where site.RegularPages "Section" "==" "blog") | intersect (where site.RegularPages ".Title" "!=" .Title) }}
            {{ range first 4 $recent }}
                {{$data.Add "delay" 0.2}}
                <div class="col-md-3 col-sm-6 col-xs-12 mb20 relative wow fadeInUp" data-wow-delay="{{$data.Get "delay"}}s">
                    <div class="equal-bg bg-light-white">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                {{ with .Params.image }}
                                    {{ if fileExists (add `assets/` .) }}
                                        {{$img:= resources.Get . }}
                                        {{$img:= $img.Resize "570x "}}
                                        {{$imgWebp:= $img.Resize "570x webp"}}
                                        <img src="{{$imgWebp.RelPermalink}}" class="img-responsive get-image-height" />
                                    {{end}}
                                {{end}}
                                <p class="title-box-yellow minus-top">Label</p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 relative-off">
                                <div class="eqheight">
                                    <p class="caption-txt">
                                        <a title="{{.Title}}" class="black-color" href="{{.RelPermalink}}" target="_self">{{.Title}}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </article>
</section>

{{ end }}
