<section class="pt0 {{.class}}">
    <article class="container">
        <div class="row">
            {{with .title}}
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 wow fadeInDown" data-wow-delay="0.3s">
                    <h1 class="h2-heading mb30 text-center">{{.}}</h1>
                </div>
            {{end}}
            <div class="col-md-6 col-sm-6 col-xs-12 mt-xs-0 mb50 mb-xs-20 wow fadeInLeft" data-wow-delay="0.3s">
                {{with .text}}
                    <p>{{.text}}</p>
                {{end}}
                <div class="panel-group accordion" id="parent">
                    {{range $index, $element := .items}}
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title collapsed" data-parent="#parent" data-toggle="collapse" data-target="#panel-{{$index}}">
                                    {{$element.title}}
                                </h4>
                            </div>
                            <div id="panel-{{$index}}" class="collapse">
                                <div class="panel-body">{{$element.text}}</div>
                            </div>
                        </div>
                    {{end}}
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 mb50 wow fadeInRight" data-wow-delay="0.6s">
                <img src="{{.image}}" class="img-responsive center-block" alt="{{.title}}">
            </div>
        </div>
    </article>
</section>
