<section class="section-default article-list {{with .class}}{{.}}{{end}}">
    <article class="container">
        {{if isset . "title"}}
        <div class="row text-center">
            <h2 class="section-title">{{.title}}</h2>
            <p class="section-text">{{.text}}</p>
        </div>
        {{end}}
        {{range $i,$p := .items}}
            <div class="row{{if not (modBool $i 2)}} flex-md-row-reverse{{end}} article-list-item wow fadeInUp {{with .class}}{{.}}{{else}}bg-pattern{{end}}">
                <div class="col-md-6 images">
                    {{with .youtube}}
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="optanon-category-C0004 embed-responsive-item" src="https://www.youtube.com/embed/{{.}}? rel=0&amp;start=04&amp;iv_load_policy=3&amp;enablejsapi=1" width="560" height="315" frameborder="0" id="widget2"></iframe>
                        </div>
                    {{else}}
                        <img src="{{.image}}" alt="{{.title}}" />
                    {{end}}
                </div>
                <div class="col-md-6 content">
                    {{if isset . "title"}}
                        <h4 class="title">
                            <a href="{{.link}}">{{.title}}</span></a>
                        </h4>
                    {{end}}
                    <p class="text">{{.text}}</p>
                    {{if isset . "link"}}<a href="{{.link}}" class="btn btn-shutter btn-light">{{default "Read more" .link_text}}</a>{{end}}
                </div>
            </div>
        {{end}}
    </article>
</section>
