<section class="ptb75 bg-amethyst-medium {{.class}}">
    <article class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 white-color text-center mb50 wow fadeInUp" data-wow-delay="0.3s">
                <img src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/responsive/newdesign/vertical-line.png" alt="Line" class="center-block">
                <h2 class="h2-heading">{{.title}}</h2>
            </div>
        </div>
        <div class="row equal-heights">
            {{$data := newScratch}}
            {{$data.Set "delay" 0}}
            {{$item_class := .item_class}}
            {{range .items}}
                {{$data.Add "delay" 0.3}}
                <div class="col-md-3 col-sm-6 col-xs-12 mb50 relative wow fadeInLeft" data-wow-delay="{{$data.Get "delay"}}s">
                    <div class="equal-bg bg-amethyst-dark p0 {{$item_class}}">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 caption-txt">
                                <a class="white-color" title="{{.title}}" href="{{.link}}" {{with .target}}target="{{.}}"{{end}}>
                                    <img src="{{.image}}" alt="{{.title}}" class="img-responsive get-image-height">
                                    <div class="eqheight p0">
                                        <p class="p15 mb0">{{.title}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </article>
</section>
