<section class="section-default section-content">
    <article class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12">
                {{.Content}}
            </div>
        </div>
    </article>
</section>
