<section class="hero {{with .class}}{{.}}{{end}}" style="--background:url({{.image}})">
    <article class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <p class="hero-title">{{.title}}</p>
            </div>
        </div>
        {{if isset . "link"}}
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a class="btn btn-orange" href="{{.link}}" title="{{.link_text}}">{{.link_text}}</a>
            </div>
        </div>
        {{end}}
    </article>
</section>
