<section class="{{.class}}"{{with .background_color}} style="background-color:{{.}}"{{end}}>
    <article class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0.2s">
                <img src="{{.image}}" class="img-responsive center-block" alt="{{.title}}">
            </div>
            <div class="col-md-6 col-sm-12 mtb30 wow fadeInRight" data-wow-delay="0.2s">
                <h2>{{.title}}</h2>
                <p class="mtb30">{{.text}}</p>
                {{ partial "link.html" . }}
            </div>
        </div>
    </article>
</section>
