<section class="pt0 {{.class}}">
    <article class="container">
        <div class="row">
            {{with .heading}}
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 wow fadeInDown" data-wow-delay="0.3s">
                    <h1 class="h2-heading mb30 text-center">{{.}}</h1>
                </div>
            {{end}}
            {{with .title}}
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInDown" data-wow-delay="0.3s">
                    <h3>{{.}}</h3>
                </div>
            {{end}}
            <div class="col-md-8 col-sm-8 col-xs-12 mb30 wow fadeInLeft" data-wow-delay="0.3s">
                <img src="{{.image}}" class="img-responsive center-block" alt="{{.title}}">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 mtb30 mt-xs-0 mb-xs-20 wow fadeInRight" data-wow-delay="0.6s">
                <p>{{.text}}</p>
            </div>
        </div>
    </article>
</section>
