<section class="pt75">
    <article class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center wow fadeInDown animated" data-wow-delay="0.3s">
                <img src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/images/vertical-line1.png" class="center-block" alt="Line">
                <h2 class="h2-heading mt10">{{.title}}</h2>
                <p class="col-md-8 col-md-offset-2 para-txt light-gray mb50">{{.subtitle}}</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 mb-sm-20 wow fadeInLeft animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                {{.text | markdownify}}
            </div>
        </div>
    </article>
</section>
<section id="insights" class="pb75">
    <article class="container">
        <div class="row row-eq-ht wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
            {{range $index, $element := .items}}
                {{if eq $index 3}}
                    <div class="clearfix hidden-xs"></div>
                {{end}}

                {{if eq $index 5}}
                    <div class="clearfix visible-sm hidden-xs"></div>
                {{end}}

                {{if eq $index 0}}
                    <div class="col-md-6 col-sm-12 col-xs-12 p0">
                        <a href="{{.link}}" target="_blank" title="{{.title}}" rel="noopener noreferrer">
                            <div class="col-eq-ht">
                                <div class="bg-color1">
                                    <img src="{{.image}}" class="img-responsive">
                                    <div class="txt-reseach">
                                        <h5 class="insight-title pb0">{{.label}}</h5>
                                        <p class="insight-text">{{.title}}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {{else}}
                    <div class="col-md-3 col-sm-6 col-xs-12 p0">
                        <a href="{{.link}}" target="_blank" title="{{.title}}">
                            <div class="col-eq-ht bg-{{default "blog" .variant}}">
                                <div class="txt-section">
                                    <div class="txt-blog">
                                        <h5 class="insight-title {{if .variant}}white-color{{else}}color-onyx-m{{end}}">{{.label}}</h5>
                                        <img src="{{.image}}" class="img-responsive center-block pt20">
                                        <p class="size-md-20 fontweight400 {{if .variant}}white-color{{else}}black-color{{end}} line-height-26 pt40">{{.title}}</p>
                                        <p class="more {{if .variant}}white-color{{else}}black-color{{end}} readmore-top">{{default "Read More" .button_text}}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {{end}}
            {{end}}
        </div>
        {{if and (isset . "link") (ne .link "")}}
            <a href="{{.link}}" target="_blank" class="btn btn-shutter insight-btn wow fadeInUp animated" data-wow-delay="0.9s" title="see more" style="visibility: visible;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;" aria-label="See More About {{.title}}">{{default "See More" .button_text}}</a>
        {{end}}
    </article>
</section>
