<section class="section-default link-list {{with .class}}{{.}}{{end}}">
    <article class="container">
        {{if isset . "title"}}
        <div class="row text-center">
            <h2 class="section-title">{{.title}}</h2>
            <p class="section-text">{{.text}}</p>
        </div>
        {{end}}
        <div class="row">
            <ul>
            {{range .items}}
                <li><a href="{{.link}}" title="{{.title}}">{{.title}}</a></li>
            {{end}}
            </ul>
        </div>
    </article>
</section>
