<section class="section-default logo-slider">
    <article class="container">
        {{if isset . "title"}}
        <div class="row text-center">
            <h2 class="section-title">{{.title}}</h2>
            <p class="section-text">{{.text}}</p>
        </div>
        {{end}}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="owl-carousel">
                {{range .items}}
                    <div>
                        <img src="{{.image}}" alt="{{.title}}">
                    </div>
                {{end}}
                </div>
            </div>
        </div>
    </article>
</section>
