<section class="section-default mini-hero {{with .class}}{{.}}{{end}}" style="--background:url({{.image}})">
    <article class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h3 class="mini-hero-title">{{.title}}</h3>
            </div>
            {{if isset . "link"}}
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a class="btn btn-shutter mini-hero-btn" href="{{.link}}" title="{{.link_text}}">{{.link_text}}</a>
            </div>
            {{end}}
        </div>
    </article>
</section>
