<section class="pt75">
    <article class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center wow fadeInDown" data-wow-delay="0.3s">
                <img src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/images/vertical-line1.png" class="center-block" alt="Line" />
                <h2 class="h2-heading mt10">{{.title}}</h2>
                <p class="col-md-8 col-md-offset-2 para-txt light-gray mb50">{{.subtitle}}</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 mb-sm-20 wow fadeInLeft animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                {{.text | markdownify}}
            </div>
        </div>
    </article>
</section>

<section id="what_new">
    <article class='container'>
        <div class='row'>
            <div class='col-md-12 col-sm-12 col-xs-12 wow fadeInUp' data-wow-delay='0.6s'>
                <div class="swiper news-swiper">
                    <div class="swiper-wrapper">
                        {{range .items}}
                            <div class="swiper-slide">
                                <div class='whatnew-box'>
                                    <p class='title-box'>{{.label}}</p>
                                    <p class="slider-title">{{.title}}</p>
                                    <a class='slider-btn' href="{{.link}}" target="_blank">Read More</a>
                                </div>
                            </div>
                        {{end}}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </article>
</section>
