<section class="plain {{.class}}"{{with .background_color}} style="background-color:{{.}}"{{end}}>
    <article class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 wow fadeInDown text-center" data-wow-delay="0.2s">
                <h1 class="s-title mb10">{{.title}}</h1>
                <p class="s-text mb20">{{.text}}</p>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="0.2s">
            {{range first 2 .items}}
                <div class="item-wrapper col-md-6 col-sm-12">
                    <div class="item">
                        {{with .image}}
                            <p class="item-image text-center mb20">
                                <img src="{{.}}"/>
                            </p>
                        {{end}}
                        <p class="item-title{{with .image}} text-center{{end}}">{{.title}}</p>
                        <p class="item-text mtb20">{{.text}}</p>
                        {{ partial "link.html" . }}
                    </div>
                </div>
            {{end}}
        </div>
    </article>
</section>
