<section class="plain {{.class}}"{{with .background_color}} style="background-color:{{.}}"{{end}}>
    <article class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 wow fadeInUp text-center" data-wow-delay="0.2s">
                <h1 class="s-title">{{.title}}</h1>
                <p class="s-text mtb30">{{.text}}</p>
                {{if .button_text}}
                    {{ partial "button.html" . }}
                {{else if .link_text}}
                    {{ partial "link.html" . }}
                {{end}}
            </div>
        </div>
    </article>
</section>
