<section class="section-default pricing-packages {{with .class}}{{.}}{{end}}">
    <article class="container">
        {{if isset . "title"}}
        <div class="row text-center">
            <h2 class="section-title">{{.title}}</h2>
            <p class="section-text">{{.text}}</p>
        </div>
        {{end}}
        <div class="row">
            <div class="items">
                {{range .items}}
                <div class="item{{with .variant}} {{.}}{{end}}{{with .highlighted}} highlighted{{end}}">
                    <div class="wrap-price">
                        <h5>{{.title}}{{with .sub_title}}<span>{{.}}</span>{{end}}</h5>
                        <p class="description" style="height: 67.5px;">{{.text}}</p>
                        <div class="price-info" style="height: 153px;">
                            <span class="price-value">{{.price}}</span>
                            <span class="price-group">
                                <span class="price-shop">{{.line_1}}</span>
                                <span class="price-addon">{{.line_2}}</span>
                                <span class="price-user">{{.line_3}}</span>
                            </span>
                        </div>
                        <ul>
                            {{range .features}}
                            <li{{with .enabled}}{{else}} class="muted"{{end}}>
                                <i class="material-icons">check</i>
                                <span class="title">{{.title}}</span>
                                {{with .tag}}<span class="tag">{{.}}</span>{{end}}
                            </li>
                            {{end}}
                        </ul>
                    </div>
                    <div class="wrap-button-register">
                        <a class="btn" href="{{.link}}">{{.link_text}}</a>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </article>
</section>
