<section class="section-default product-list">
    <article class="container">
        {{if isset . "title"}}
        <div class="row text-center">
            <h2 class="section-title">{{.title}}</h2>
            <p class="section-text">{{.text}}</p>
        </div>
        {{end}}
        {{range $i,$p := .items}}
            <div class="row{{if not (modBool $i 2)}} flex-md-row-reverse{{end}} product-list-item wow fadeInUp">
                <div class="col-md-6 images">
                    {{with .youtube}}
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="optanon-category-C0004 embed-responsive-item" src="https://www.youtube.com/embed/{{.}}? rel=0&amp;start=04&amp;iv_load_policy=3&amp;enablejsapi=1" width="560" height="315" frameborder="0" id="widget2"></iframe>
                        </div>
                    {{else}}
                        <img src="{{.image}}" alt="{{.title}}" />
                    {{end}}
                </div>
                <div class="col-md-6 content">
                    <h4 class="title">
                        <a href="{{.link}}">
                            <span class="title-sm">{{.title}}</span>
                            <span class="title-lg">{{.title}}</span>
                        </a>
                    </h4>
                    <p class="text">{{.text}}</p>
                    {{if isset . "link"}}<a href="{{.link}}" class="btn btn-orange">{{.link_text}}</a>{{end}}
                </div>
            </div>
        {{end}}
    </article>
</section>
