<section class="user-profile-slider">
    <article class="container-fluid slider">
        <div class="row wow fadeInUp animated" data-wow-delay="0.6s">
            <div class="swiper quotes-swiper">
                <div class="swiper-wrapper">
                    {{range .items}}
                        <div class="swiper-slide">
                            <div class="item active">
                                <div class="repeated-css bg-coral-light">
                                    <img src="{{.image}}" class="slide-image hidden-xs" alt="{{.title}}">
                                    <img class="slide-image visible-xs" src="{{.image_xs}}" alt="{{.title}}">
                                </div>
                                <div class="slider-overlay-black"></div>
                                <div class="caption">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center col-md-offset-2">
                                                <p class="quote-para mb20 mb-xs-10">{{.text}}</p>
                                                <p class="quote-para mb-xs-10">
                                                    <strong class="block">{{.title}}</strong>{{.subtitle}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{end}}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </article>
</section>
