<section class="section-default {{with .class}}{{.}}{{end}}">
    <article class="container">
        {{if isset . "title"}}
        <div class="row text-center">
            <h2 class="section-title">{{.title}}</h2>
            <p class="section-text">{{.text}}</p>
        </div>
        {{end}}
        <div class="row">
            {{range $i,$p := .items}}
            <div class="ripple-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb20">
                <div class="ripple_hover {{with .class}}{{.}}{{else}}bg-jade-medium{{end}}">
                    <div class="above">
                        <a href="{{.link}}" title="{{.title}}">
                            <div class="image">
                                <img src="{{.image}}" alt="{{.title}}">
                            </div>
                            <p class="text">
                                <strong>{{.title}}</strong>
                                {{.text}}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </article>
</section>
