{{with .items}}
<section id="hero_slider">
    <article class="container-fluid slider">
        <div class="row">
            <div class="swiper hero-swiper">
                <div class="swiper-wrapper">
                    {{range .}}
                    <div class="swiper-slide">
                        <div class="repeated-css bg-amethyst-medium">
                            <img src="{{.image}}" class="slide-image hidden-xs" alt="{{.title}}" />
                            <img src="{{.image_xs}}" class="slide-image visible-xs" alt="{{.title}}" />
                        </div>
                        <div class="slider-overlay-amethyst"></div>
                        <div class="caption">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 ">
                                        <p class="text-uppercase topicIndicator">{{.label}}</p>
                                        <p class="h2-heading white-color">{{.title}}</p>
                                        <a href="{{.link}}" target="_self" class="btn btn-shutter text-uppercase">{{default "Read More" .button_text}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </article>
</section>
{{end}}
