<section {{with .id}}id="{{.}}"{{end}} class="section__stories bg-{{default "default" .variant}}">
    <article class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12 wow fadeInDown" data-wow-delay="0.3s">
                <h2 class="h2-heading white-color">{{.title}}</h2>
                <p class="para-txt white-color mb50">{{.subtitle}}</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 mb-sm-20 wow fadeInLeft animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                {{.text | markdownify}}
            </div>
        </div>
        <div class="row equal-heights">
            {{$data := newScratch}}
            {{$data.Set "delay" 0}}
            {{range .items}}
                {{$data.Add "delay" 0.3}}
                <div class="col-md-3 col-sm-6 col-xs-12 mb20 relative wow fadeInLeft" data-wow-delay="{{$data.Get "delay"}}s">
                    <div class="equal-bg bg-light-white">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <img src="{{.image}}" alt="{{.title}}" class="img-responsive get-image-height" />
                                {{with .label}}
                                    <p class="title-box-yellow minus-top">{{.}}</p>
                                {{end}}
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 relative-off">
                                <div class="eqheight">
                                    <p class="caption-txt">
                                        <a title="{{.title}}" class="black-color" href="{{.link}}" target="_self">{{.title}}</a>
                                    </p>
                                    {{with .text}}
                                        <p>{{.}}</p>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
        {{if and (isset . "link") (ne .link "")}}
            <div class="col-md-12 col-sm-12 col-xs-12 mt50 wow fadeInUp" data-wow-delay="1.2s">
                <a class="btn btn-shutter casestudy-btn" href="{{.link}}">{{default "Show More" .button_text}}</a>
            </div>
        {{end}}
    </article>
</section>
