<style>
.metric p:first-of-type {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: .75rem;
    margin-top: 0;
    color: #2e8362;
    font-weight: 700;
}
</style>
<section class="{{.class}}"{{with .background_color}} style="background-color:{{.}}"{{end}}>
    <article class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mtb30 wow fadeInLeft" data-wow-delay="0.2s">
                <h1>{{.title}}</h1>
                <p class="mtb30">{{.text}}</p>
                {{ partial "link.html" . }}
            </div>
            <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.2s">
                {{range .items}}
                    <div class="col-md-6 col-sm-12 metric">
                        <p>{{.title}}</p>
                        <p>{{.text}}</p>
                    </div>
                {{end}}
            </div>
        </div>
    </article>
</section>
