<section class="relative {{.class}}">
    <article class="container">
        <div class="row row-margin">
            {{with .heading}}
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 wow fadeInDown" data-wow-delay="0.3s">
                    <h1 class="h2-heading mb30 text-center">{{.}}</h1>
                </div>
            {{end}}
            <div class="col-md-6 col-sm-6 col-xs-12 mb-sm-20 wow fadeInLeft" data-wow-delay="0.3s">
                <h2 class="being-title">{{.title}}</h2>
                <p class="overview-segment-para pt10">{{.text}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-center-xs mt50 mt-xs-0 wow fadeInRight" data-wow-delay="0.3s">
                <div class="bg-vcard">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h2>
                                <i class="fa fa-quote-left" aria-hidden="true"></i> {{.quote}} <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </h2>
                            <p class="pt20">
                                <strong>&ndash; {{.quote_title}}</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
