<section class="section--whitepaper {{.class}}">
    <article class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bg-light-white wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-12 mb-xs-20">
                            <img src="{{.image}}" class="img-responsive center-block">
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-12 p0">
                            <div class="inner">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12 mb-xs-20">
                                        <h4 class="wp-label light-gray">{{default "WHITEPAPER" .label}}</h4>
                                        <p class="wp-title">{{.title}}</p>
                                        <p class="wp-text">{{.text}}</p>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-2">
                                        <p>
                                            <a class="pdf" href="{{.link}}" title="READ MORE" target="_blank">
                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> READ MORE
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
