<section class="section-default white-blocks {{with .class}}{{.}}{{end}}">
    <article class="container">
        {{if isset . "title"}}
        <div class="row text-center">
            <h2 class="section-title">{{.title}}</h2>
            <p class="section-text">{{.text}}</p>
        </div>
        {{end}}
        <div class="row">
            <div class="flex-wrap">
                {{range $i,$p := .items}}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb20">
                    <a class="black-color" href="{{.link}}" title="{{.title}}">
                        <div class="box">
                            <h5 class="title">{{.title}} <span class="title-border">&nbsp;</span></h5>
                            <p>{{.text}}</p>
                            <span class="btn-view-more">Read More</span>
                        </div>
                    </a>
                </div>
                {{end}}
            </div>
        </div>
    </article>
</section>
