<footer id="footer">
    <div class="container pt50 pb50">
        <div class="row">
            {{with site.Menus.footer_1}}
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 col-xs-12">
                    <h3 class="ftr-head mt-xs-20">Company</h3>
                    <ul class="list-unstyled footer-txt">
                        {{range .}}
                            <li><a href="{{.URL | relLangURL}}">{{.Name}}</a></li>
                        {{end}}
                    </ul>
                </div>
            {{end}}

            {{with site.Menus.footer_2}}
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 col-xs-12">
                    <h3 class="ftr-head mt-xs-20">Industries</h3>
                    <ul class="list-unstyled footer-txt">
                        {{range .}}
                            <li><a href="{{.URL | relLangURL}}">{{.Name}}</a></li>
                        {{end}}
                    </ul>
                </div>
            {{end}}

            {{with site.Menus.footer_3}}
                <div class="col-lg-3 col-md-3 col-sm-4 col-12 col-xs-12">
                    <h3 class="ftr-head mt-xs-20">Programs</h3>
                    <ul class="list-unstyled footer-txt">
                        {{range .}}
                            <li><a href="{{.URL | relLangURL}}">{{.Name}}</a></li>
                        {{end}}
                    </ul>
                </div>
            {{end}}

            {{with site.Menus.footer_4}}
                <div class="col-lg-3 col-md-3 col-sm-4 col-12 col-xs-12">
                    <h3 class="ftr-head mt-xs-20">Support</h3>
                    <ul class="list-unstyled footer-txt">
                        {{range .}}
                            <li><a href="{{.URL | relLangURL}}">{{.Name}}</a></li>
                        {{end}}
                    </ul>
                </div>
            {{end}}

            <div class="col-lg-2 col-md-6 col-sm-6 col-12 col-xs-12">
                <h3 class="ftr-head mt-sm-20">Connect with us</h3>
                <ul class="list-inline footer-txt">
                    <li>
                        <a title="Follow us on Twitter" target="_blank" href="https://twitter.com/Infosys" rel="noopener noreferrer">
                            <img src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/twitter.svg" width="16" height="16" alt="Twitter">
                        </a>
                    </li>
                    <li>
                        <a title="Follow us on Facebook" target="_blank" href="https://www.facebook.com/Infosys" rel="noopener noreferrer">
                            <img src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/facebook.svg" width="16" height="16" alt="Facebook">
                        </a>
                    </li>
                    <li>
                        <a title="Follow us on LinkedIn" target="_blank" href="https://www.linkedin.com/company/infosys" rel="noopener noreferrer">
                            <img src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/linkedin.svg" width="16" height="16" alt="LinkedIn">
                        </a>
                    </li>
                    <li>
                        <a title="Follow us on YouTube" target="_blank" href="http://youtube.com/user/infosys" rel="noopener noreferrer">
                            <img src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/youtube.svg" width="16" height="16" alt="YouTube">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid ptb15 smaller-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 col-xs-12 copyright">
                    <p>{{site.Params.copyright | markdownify}}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
