<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="/libs/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/libs/animate.css@3.5.2/animate.min.css"/>
    <link rel="stylesheet" href="/libs/bootstrap@3.3.7/bootstrap.min.css"/>
    <link rel="stylesheet" href="/libs/owl-carousel2@2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/libs/owl-carousel2@2.3.4/assets/owl.theme.default.min.css"/>

    <link rel="stylesheet" type="text/css" href="/css/burger-menu.css">
    <link rel="stylesheet" type="text/css" href="/css/clientlib-common.css">
    <link rel="stylesheet" type="text/css" href="/css/clientlib-base.css">
    <link rel="stylesheet" type="text/css" href="/fonts/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{ $styles := slice }}
    {{ $styles := $styles | append (resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS) }}
    {{ $styles := $styles | resources.Concat "/css/style.css" | minify | fingerprint "sha512"}}
    <style type="text/css">{{$styles.Content | safeCSS}}</style>

    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>
