{{ $menu := .Site.Menus.main }}

{{ if and (ne .Section "") (isset .Site.Menus .Section) }}
    {{ $menu = index .Site.Menus .Section }}
{{ end }}

{{ if isset .Params "menu" }}
    {{ $menu = .Params.menu }}
{{ end }}

<header>
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top scrollbg-show" role="navigation">
        <div class="container mt45">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="{{.Site.BaseURL}}">
                    {{ partial "header/logo.html" . }}
                </a>
            </div>
            <div class="navbar-menu">
                <ul class="nav navbar-nav navbar-right pos-right">
                    {{ range $menu }}
                    <li>
                        <a class="nav-link" href="{{ .URL }}">
                            {{ $text := print .Name | safeHTML }}
                            {{ $text }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </nav>
</header>
