{{if .link}}
    <a href="{{.link}}">
        {{default "Learn more" .link_text}}
        <span class="link-arrow">
            <svg><path d="M18.7096 0.387212C18.4046 0.779546 18.4325 1.34677 18.793 1.70721L24.087 6.999L1 7C0.447715 7 0 7.44772 0 8L0.00672773 8.11662C0.0644928 8.61396 0.487164 9 1 9L24.084 8.999L18.7937 14.293C18.4033 14.6837 18.4034 15.3168 18.794 15.7073C19.1846 16.0977 19.8178 16.0976 20.2082 15.707L27.2073 8.70498C27.5977 8.31439 27.5976 7.68127 27.207 7.29082L20.207 0.292793C19.8164 -0.0976758 19.1833 -0.0975864 18.7928 0.292993L18.7096 0.387212Z"></path></svg>
            <span> </span>
        </span>
    </a>
{{end}}
