<script src="/libs/jquery@3.3.1/jquery.min.js"></script>
<script src="/libs/swiper@7/swiper-bundle.min.js"></script>
<script src="/libs/wowjs@1.1.3/wow.min.js"></script>
<script src="/libs/bootstrap@3.3.7/bootstrap.min.js"></script>
<script src="/libs/owl-carousel2@2.3.4/owl.carousel.min.js"></script>

<script>
$(document).ready(function(){
    $(".logo-slider .owl-carousel").owlCarousel({
        loop: true,
        nav: true,
        dots: false
    })
})
</script>

<script>
const swiper = new Swiper('.hero-swiper', {
    direction: 'horizontal',
    loop: false,
    slidesPerView: 1,
    pagination: {
        el: '.swiper-pagination',
        clickable: true
    },
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
    },
    scrollbar: {
        el: '.swiper-scrollbar'
    }
})

new Swiper('.news-swiper', {
    direction: 'horizontal',
    loop: true,
    slidesPerView: 4,
    slidesPerGroup: 1,
    spaceBetween: 15,
    pagination: {
        el: '.swiper-pagination',
        clickable: true
    },
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
    },
    scrollbar: {
        el: '.swiper-scrollbar'
    }
})

new Swiper('.quotes-swiper', {
    direction: 'horizontal',
    loop: true,
    slidesPerView: 1,
    pagination: {
        el: '.swiper-pagination',
        clickable: true
    },
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
    },
    scrollbar: {
        el: '.swiper-scrollbar'
    }
})
</script>

<script>
new WOW().init()
</script>

<script>
// When the user scrolls down 80px from the top of the document
(function () {
    var lastScroll = 0;

    window.onscroll = function() {
        var currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
        var navbar = document.getElementById("navbar");

        if (currentScroll > 80) {
            navbar.classList.add('scrolled');
        } else {
            navbar.classList.remove('scrolled');
        }

        if (currentScroll > 300 && lastScroll <= currentScroll){
            navbar.classList.add('unpinned');
        }else{
            navbar.classList.remove('unpinned');
        }

        lastScroll = currentScroll;
    };
})();
</script>

<script>
(function() {
    var links = document.getElementsByTagName('a');

    for (var i = 0; i < links.length; i++) {
        if (/^(https?:)?\/\//.test(links[i].getAttribute('href'))) {
            links[i].target = '_blank';
        }
    }
})();
</script>

<script>
$(document).ready(function () {
    //   Ripple effects
    $(".ripple_hover").on({
        mouseenter: function (e) {
            if ($(this).find(".ripple_effect").length === 0) {
                $(this).append("<span class='ripple_effect'></span>");
            }
            var rip = $(this).find(".ripple_effect");
            rip.removeClass("animate");
            if (!rip.height() && !rip.width()) {
                var d = Math.max($(this).outerWidth(), $(this).outerHeight());
                rip.css({ height: d, width: d });
            }
            var x = e.pageX - $(this).offset().left - rip.width() / 2;
            var y = e.pageY - $(this).offset().top - rip.height() / 2;
            rip.css({ top: y + "px", left: x + "px" }).addClass("ripple_animate");
        },
        mouseleave: function (e) {
            var rip = $(this).find(".ripple_effect");
            var x = e.pageX - $(this).offset().left - rip.width() / 2;
            var y = e.pageY - $(this).offset().top - rip.height() / 2;
            rip.css({ top: y + "px", left: x + "px" }).removeClass("ripple_animate");
        }
    });
});
</script>
